body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;

  background-color: #fff;
}

a { 
  text-decoration: none;
}

a:hover:not(.features__btn) {
  color: #FF7931;
}

p {
  color: #000;
}

.list {
  list-style: none;
}

.heading {
  color: #000;

  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 1px;

  text-align: center;
}

.navigation-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation-item {
  margin-right: 50px;
  margin-bottom: 10px;
}

.navigation-link {
  color: #000; 

  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  text-transform: uppercase;
  letter-spacing: 2px;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 464px;
  margin-bottom: 45px;
  padding-bottom: 50px;
  position: relative;

  background-image: 
    url("../img/Vector-Group.svg"),
    url("../img/Hotel-11.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 20vh, center;
  background-size: 55px 55px, cover;
}

.new__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 25px;
  position: absolute ;
  left: 135px;
  top: -13px;

  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 16px;

  color: #fff;

  background-color: #FF7931;

  text-transform: uppercase;
  letter-spacing: 2px;
}

.wrapper-container__title {
  color: #fff;

  font-weight: normal;
  font-size: 72px;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.wrapper-container__text {
  width: 40vw;

  font-weight: normal;
  font-size: 14px;
  
  line-height: 21px;
  text-align: center;

  color:#fff;
}

.reviews__heading {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 17px;

  letter-spacing: 2px;
}

.reviews-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reviews-list__item {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.reviews-list__title {
  margin-bottom: -10px;
}

.reviews-list__link-img {
  display: flex;
  flex-direction: column;
}

.reviews-list__img {
  order: -1;
}


.reviews-list__title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 23px;

  color: #000;
}

.reviews-list__title:hover {
  color: #FF7931;
}

.reviews__text {
  width: 370px;

  font-size: 14px;

  line-height: 21px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: #F7F7F7;
  background-size: cover 556px;
  background-image: url("../img/Ellipse-1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.features__heading {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 17px;

  letter-spacing: 2px;
}

.features__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.features__title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 23px;

  text-align: center;
}

.features__desc {
  width: 370px;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 14px;

  text-align: center;
  line-height: 21px;
}

.features-item__line {
  color: #000;
  opacity: 0.2;

  width: 100px;
}

.features__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 47px;

  color: #fff;

  background-color: #FF7931;
}

.link-btn__icon {
  margin-left: 10px;
}

.main-footer {
  background-color: #575757;
}

.main-footer__heading {
  color:#fff;

  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 28px;

  text-align: center;
  letter-spacing: 1px;
}

.main-footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.main-footer__item {
  margin-right: 50px;
  margin-bottom: 10px;
}

.main-footer__link {
  color: #fff;

  font-weight: normal;
  font-size: 15px;

  letter-spacing: 2px;
}

.main-footer__line {
  color: #fff;
  opacity: 0.4;

  width: 85vw;
  margin-bottom: 45px;
}

.socials-list {
  display: flex;
  justify-content: center;

}

.socials-list__item {
  width: 47px;
  height: 47px;
  margin-right: 15px;
  display: flex;
  align-items: center;  
  justify-content: center;

  background-color: #FFFFFF;
}
